body {
  background-color: brown;
  height: 100vh;
  display: flex;
  margin: 0;
  text-align: center;
}

main {
  background-color: burlywood;
  margin: auto;
  padding: 5px;
  border-radius: 5px;
  width: 35%;
}

h1 {
  color: crimson;
  text-decoration: underline;
}

#montant {
  display: flex;
  justify-content: space-between;
  margin: 5px;
}